h1 {
  color: darkslateblue;
  text-align: center;
}

body {
    background-color: papayawhip;
}

h2 {
  color: darkslateblue;
  text-align: center; 
  font-weight: bolder;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

th {
    background-color: burlywood;
    padding: 5px;
    font-size: 1.2em;
}

td {
    padding: 5px;
    margin: 3px;
}

.code{
    background-color: lemonchiffon;
    font-family: monospace;
}

.code:hover {
    color: blue;
}